<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />

  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <title><%= AppName %></title>

  <script type="application/javascript" charset="utf-8" asnyc src="js/index.js"></script>

  <link rel="icon" type="image/png" href="img/icon.png" />
  <link rel="stylesheet" href="css/index.css" />

</head>

<body>

  <div id="root"></div>

</body>

</html>