import { Locales } from "@nathanfaucett/web_app";
import app from "../app";

const localesPlugin = app.plugin(Locales),
    locales = localesPlugin.store(),
    USER_TOKEN = "X-<%= AppName %>-User-Token";

const user = app.createStore("user", {
    id: -1,
    token: null,
    email: null,
    locale: locales.state().get("locale")
});

user.isSignedIn = () => {
    return !!app.request.defaults.headers.Authorization;
};

user.autoSignIn = callback => {
    const token = app.cookies.get(USER_TOKEN);

    if (token) {
        user.signInWithToken(token, callback);
    } else {
        callback(new Error("Token not available"));
    }
};

user.signInWithToken = (token, callback) => {
    if (!user.isSignedIn()) {
        const onSignIn = data => {
            app.cookies.set(USER_TOKEN, token);
            app.request.defaults.headers.Authorization = token;

            user.updateState(state =>
                state
                    .set("id", data.id)
                    .set("token", token)
                    .set("email", data.email)
                    .set("locale", data.locale)
            );
            localesPlugin.setLocale(data.locale);

            callback();
        };

        /*
        Sign User in with the token
        app.request
            .post(
                app.config.apiUrl + "/user",
                {},
                {
                    headers: { Authorization: token }
                }
            )
            .then(response => {
                const data = response.data.data;
                onSignIn(data);
            })
            .catch(callback);
        */
        onSignIn({
            id: 1,
            token: "123456789",
            email: "email@domain.com",
            locale: "en"
        });
    } else {
        callback();
    }
};

user.signOut = callback => {
    if (user.isSignedIn()) {
        app.cookies.remove(USER_TOKEN);
        delete app.request.defaults.headers.Authorization;

        user.updateState(state =>
            state
                .set("id", -1)
                .set("email", "")
                .set("token", null)
        );

        /*
        Sign user out over the api
        app.request
            .delete(app.config.apiUrl + "/user/sign_out")
            .then(callback)
            .catch(callback);
        */
        callback();
    } else {
        callback();
    }
};

export default user;
