import { App } from "@nathanfaucett/web_app";
import config from "./config.json";

class <%= AppName %>App extends App {
	constructor(config) {
		super(config, {
			restoreAppStateOnLoad: false,
			appStateKey: "<%= AppName %>-State",
			Locales: {
				header: "X-<%= AppName %>-Locale"
			}
		});

		this.request.defaults.headers.Accept = "application/json";
		this.request.defaults.headers["Content-Type"] = "application/json";
		this.request.defaults.withCredentials = true;
	}
}

export default new <%= AppName %>App(config);
