{
  "name": "<%= appName %>",
  "version": "0.1.0",
  "description": "<%= AppName %> front-end web application",
  "main": "src/index.js",
  "keywords": ["<%= appName %>"],
  "license": "MIT",
  "devDependencies": {
    "@nathanfaucett/config-bundler": "0.1",
    "@nathanfaucett/locales-bundler": "0.1",
    "babel-core": "6.26",
    "babel-plugin-transform-react-jsx": "6.24",
    "babel-plugin-transform-object-rest-spread": "6.26",
    "del": "3.0",
    "express": "4.16",
    "gulp": "4.0",
    "fancy-log": "1.3",
    "parcel-bundler": "1.8"
  },
  "dependencies": {
    "@nathanfaucett/state-immutable-react": "0.2",
    "@nathanfaucett/web_app": "0.1",
    "immutable": ">= 3.8",
    "normalize.css": "8.0",
    "prop-types": "15.6",
    "react": "16.4",
    "react-dom": "16.4",
    "react-intl": "2.4"
  }
}
